html{
    height: 0;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    width: 100%;

     body{
        width: 100%;
        margin: 0;

        #frame{
            width: 99%;
            height: 95%;
            background-color: #ccc;
            position: absolute;
            margin-left: .5%;
            margin-bottom: 1%;
            bottom: 0;

            #menu{
                width: 30%;
                margin: auto;

                button{
                }
            }

            #game{
                display: none;

                #timer{
                    right: 0;
                    bottom: 0;
                    width: 7%;
                    background-color: red;
                    margin: 1%;
                    position: absolute;
                    height: 95%;
                }

                #blocks{
                    list-style: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 85%;
                    height: 90%;
                    padding-left: 1.5%;

                    .block{
                        float: left;
                        outline: solid 1px #fff;
                        width: 9%;
                        height: 10%;
                    }

                    .block-built{
                        background-color: #666;
                    }

                    .block-board{
                        background-color: #000;
                    }
                }

                #man{
                    height: 100%;
                    width: 100%;
                    background: green;
                }

                .dude{
                    height: 100%;
                    width: 100%;
                    background: purple;
                }

                #game-menu{
                    width: 45;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}