html {
  height: 0;
}
html body {
  background-color: #666;
  margin: 0;
}
html body #frame {
  width: 95%;
  height: 95%;
  background-color: #ccc;
  position: absolute;
  margin-left: 2.5%;
  margin-top: 2.5%;
}
html body #frame #timer {
  right: 0;
  bottom: 0;
  width: 7%;
  background-color: red;
  margin: 1%;
  position: absolute;
  height: 95%;
}
