html {
  height: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
html body {
  width: 100%;
  margin: 0;
}
html body #frame {
  width: 95%;
  height: 95%;
  background-color: #ccc;
  position: absolute;
  margin-left: 2.5%;
  margin-bottom: 1%;
  bottom: 0;
}
html body #frame #timer {
  right: 0;
  bottom: 0;
  width: 7%;
  background-color: red;
  margin: 1%;
  position: absolute;
  height: 95%;
}
html body #frame #blocks {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 90%;
}
html body #frame #blocks .block {
  float: left;
  outline: solid 1px #fff;
  width: 9%;
  height: 10%;
}
html body #frame #blocks .block-built {
  background-color: #666;
}
html body #frame #man {
  height: 100%;
  width: 100%;
  background: green;
}
